Evo20\Evo20.GUI\bin
Evo20Evo20.Config\bin
Evo20\Evo20.Controller\bin
Evo20\Evo20.EvoCommandsLib\bin
Evo20\Evo20.EvoConnections\bin
Evo20\Evo20.Math\bin
Evo20\Evo20.PacketsLib\bin
Evo20\Evo20.PacketsLib\bin