<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FakeEvo" value="true" />
    <!--Путь до папки с профилями-->
    <add key="ProfileFolder" value=".//Profiles//" />

    <add key="EvoType" value="1"/>
    <add key="LocalPortNumber" value="1048" />

    <add key="AxisDeviation" value="0.5"/>
    <add key="SpeedDeviation" value="0.5"/>
    <add key="NormalizationExponent" value="29"/>

    <!--Номера осей-->
    <add key="X_AXIS_NUMBER" value="2" />
    <add key="Y_AXIS_NUMBER" value="1" />
    <add key="Z_AXIS_NUMBER" value="3" />
    <add key="ALL_AXIS_NUMBER" value="0" />

    <add key="SPEED_OF_TEMPERATURE_CHANGE" value="2" />
    <add key="BASE_MOVE_SPEED" value="20" />
    <add key="DefaultSettingsFileName" value="settings.txt" />
    <add key="HeadBegin" value="0" />
    <add key="IdBegin" value="38" />
    <add key="CheckBegin" value="40" />
    <add key="ParamsCount" value="3" />
    <add key="PacketSize" value="42" />
    <add key="W_X_Begin" value="2" />
    <add key="W_Y_Begin" value="6" />
    <add key="W_Z_Begin" value="10" />
    <add key="A_X_Begin" value="14" />
    <add key="A_Y_Begin" value="18" />
    <add key="A_Z_Begin" value="22" />
    <add key="U_X_Begin" value="26" />
    <add key="U_Y_Begin" value="30" />
    <add key="U_Z_Begin" value="34" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>